@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 40px;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: .9rem;
}

.logo {
  text-decoration: none;
  color: #5EEAD4;
}

body {
  color: white;
  background-image: url(https://i.ibb.co/8BYW09W/background-image-healthy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

h1 {
  color: #EBF1FB;
  margin-top: 275px;
  font-family: 'Beth Ellen', cursive;
  font-size: 64px;
  line-height: 120px;
}

h1 span {
  color: #5EEAD4;
}

p {
  margin-top: 5px;
  font-family: 'Spectral', serif;
  color: #EBF1FB;
  font-weight: 500;
  line-height: 30.44px;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-family: 'Spectral';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  
}

a {
  color: #EBF1FB;
}

a:hover {
  color: rgb(136, 136, 136);
  transition: 0.2s;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  background-color: #5EEAD4;
  border-radius: 8px;
}

.btn:hover {
  color: rgb(123, 113, 113);
  transition: 0.2s;
}